@media (max-width: 740px) {
  .help-form.dark {
    background-image: radial-gradient(
        150% 200% at 100%,
        rgba(0, 0, 0, 0.8) 100%,
        transparent 50%
      ),
      url(../img/about3.png);
  }
}
.btn--white.dark {
  background-color: #222;
  & .btn-link.dark {
    color: #dbdbdb;
  }
  &.dark::after {
    background-color: #222;
  }
}
.about__container-title.dark {
  color: #dbdbdb;
}
.about__container-content.dark {
  color: #c3c3c3;
}
.help-form.dark {
  background-image: radial-gradient(
      150% 200% at -15%,
      rgba(0, 0, 0, 0.8) 50%,
      transparent 50%
    ),
    url(../img/about3.png);
}
.form__group-input.dark {
  background-color: #111;
}
.form__radio-label.dark {
  color: #ffffeb;
}
.form__group-label.dark {
  color: #ffffebc2;
}
.body.dark {
  background-color: #222;
}
.skin__side--front.dark {
  background-color: #111;
}
.skill-box.dark {
  background-color: #555;
}
.skill-box__heading.dark {
  color: #dbdbdb;
}
.skin__details.dark {
  color: #c3c3c3;
}
.skill-box__content.dark {
  color: #c3c3c3;
}
.comment__text.dark {
  color: #ffffeb;
}
.comment__text-heading.dark {
  color: #fff;
}
.navigation__button.dark {
  background-color: #111;
}
.navigation__list-item-link.dark:hover,
.navigation__list-item-link.dark:active {
  color: #222;
  font-weight: 500;
}
.navigation__icon.dark,
.navigation__icon.dark::before,
.navigation__icon.dark::after {
  background-color: #ffffebc2;
}
.navigation__background.dark {
  background-image: linear-gradient(to left bottom, #333, #111);
}
