@media (max-width: 740px) {
    .buy-section .buy-content .btn, .buy-section .buy-content .btn:link, .buy-section .buy-content .btn:visited {
    width: 150px;
    }
    .skills-section .row {
        margin-left: 0;
        margin-right: 0;
        justify-content: center;
    }
    .about__heading h3 {
        width: auto;
    }
    .header {
        clip-path: ellipse(100% 67% at 50% 33%);
    }
    .header__heading-text h4 {
        line-height: 2.4rem;
        letter-spacing: 1.2rem;
    }
    .logo-img {
        width: 320px;
    }
    .navigation__list-item-link {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .btn-link {
        font-size: 1.6rem;
    }
    .about-left {
        padding-left: 4rem;
        text-align: center;
    }
    .about-right {
        padding: 4rem;
        height: 40rem;
    }
    .about__container-img--1 {
        left: 4rem;
        top: 4rem;
    }
    .about__container-img--2 {
        right: 4rem;
        top: 12rem;
    }
    .about__container-img--3 {
        left: 15%;
        top: 23rem;
    }
    .about__container-title {
        font-size: 2.6rem;
    }
    .about__container-content {
        font-size: 1.8rem;
        line-height: 2.2rem;
    }
    .btn-more:link, .btn-more:visited {
        font-size: 1.8rem;
    }
    .skills-section {
        clip-path: ellipse(125% 50% at 50% 50%);

        & .col {
            padding-left: 4rem;
            padding-right: 4rem;
        }
    }
    .skill-box {
        padding: 4rem;
    }
    .skill-box__img {
        width: 8rem;
        margin-bottom: 18px;
    }
    .skill-box__heading {
        font-size: 2.4rem;
    }
    .skill-box__content {
        font-size: 1.8rem;
    }
    .skin-section .row {
        margin-left: 0; 
        margin-right: 0; 
    }
    .skin-section .col {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .skin__details {
        font-size: 1.8rem;
        line-height: 2.2rem;
    }
    .skin__side {
        height: 35rem;
    }
    .comment {
        padding: 7rem;
        flex-direction: column;
        align-items: center;
    }
    .comment__shape {
        margin-bottom: 2rem;
    }
    .comment__text {
        text-align: center;
    }.help-form {
        height: 40rem;
        background-image: radial-gradient(150% 200% at 100%, rgba(255, 255, 255, 0.8) 100%, transparent 50%), url(../img/about3.png);
    }
    .form__group-input {
        width: 90%;
        height: 4.8rem;
        padding: 1.4rem;
        background-color: rgba($color: #fff, $alpha: .7);
    }
    .form__group-label {
        top: 1.4rem;
        left: 1.4rem;
        font-size: 2.1rem;
        line-height: 2.1rem;
    }
    .form__heading {
        font-size: 2.8rem;
    }
    .form__radio-group {
        width: 40%;
    }
    .form__radio-label {
        font-size: 2rem;
        padding-left: 3rem;
    }
    .form__radio-btn {
        width: 2rem;
        height: 2rem;
    }
    .comment__text-heading {
        font-size: 2rem;
    }
    .comment__text p {
        font-size: 1.6rem;
    }
    .footer .row {
        flex-direction: column;
        & .col {
            margin-bottom: 2rem;
            padding: 0.5rem 2rem;

            & p {
                text-align: center;
            }
        }
    }
    .footer {
        padding: 5rem 0;
    }
    .navigation__nav .navigation__list.open {
        min-width: 30rem;
    }

}

@media (min-width: 740px) and (max-width: 1024px) {
    .header {
        clip-path: ellipse(90% 67% at 50% 33%);
    }
    .about__container-title {
        font-size: 2.2rem;
    }
    .about__container-content {
        font-size: 1.8rem;
    }
    .btn-more:link, .btn-more:visited {
        font-size: 1.8rem;
    }
    .skill-box {
        padding: 4rem;
        height: 100%;
    }
    .skills-section {
        clip-path: ellipse(90% 50% at 50% 50%);
        & .row {
            margin: 0 4rem;

            & .col {
                padding: 4rem;
            }
        }
    }
    .skill-box__heading {
        font-size: 2.2rem;
    }
    .skill-box__content {
        font-size: 1.8rem;
        line-height: 2.2rem;
    }
    .about__container-img--2 {
        right: 2rem;
    }
}
