.navigation {
  &__checkbox {
    display: none;
  }
  &__button {
    background-color: #fff;
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: 2rem;
    right: 2rem;
    border-radius: 50%;
    z-index: 2000;
    cursor: pointer;
    text-align: center;
    outline: none;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 50%);
    border: 0;
  }
  &__background {
    background-image: linear-gradient(
      to left bottom,
      $color-primary,
      $color-primary-dark
    );
    height: 4rem;
    width: 4rem;
    position: fixed;
    top: 2.5rem;
    right: 2.5rem;
    border-radius: 50%;
    z-index: 1990;
    text-align: center;
    transition: all 1s;
  }
  &__nav.open {
    opacity: 1;
    width: 100%;
    overflow: hidden;
    height: 100vh;
    display: block;
  }
  &__nav .navigation__list.open {
    opacity: 1;
    visibility: visible;
  }
  &__background.open {
    transform: scale(80);
  }
  &__nav {
    height: 0vh;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 50%;
    z-index: 1995;
    transition: all 1s;
    opacity: 0;
  }
  &__list {
    @include center;
    list-style: none;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all 1s;

    &-item {
      margin: 1rem;

      &-link {
        &:link,
        &:visited {
          display: inline-block;
          font-size: 2.5rem;
          border-radius: 10rem;
          font-weight: 300;
          padding: 2rem 3rem;
          text-transform: uppercase;
          text-decoration: none;
          color: $color-white;
          background-image: radial-gradient(
            150% 200% ellipse at 115%,
            $color-white 0%,
            $color-white 50%,
            transparent 50%
          );
          background-size: 250%;
          transition: all 0.4s;
          user-select: none;
        }
        &:hover,
        &:active {
          background-position: 100%;
          color: $color-primary;
          transform: translateY(1px);
          font-weight: 500;
        }
        &:target .section {
        }
      }
    }
  }
  &__icon {
    position: relative;
    margin-top: 1.5rem;

    &,
    &::before,
    &::after {
      width: 2.8rem;
      height: 0.3rem;
      background-color: $color-grey;
      display: inline-block;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.5s;
    }
    &::after {
      top: -1rem;
    }
    &::before {
      top: 1rem;
    }
  }
  &__button.open &__icon {
    background-color: transparent;
  }
  &__button.open &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }
  &__button.open &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}

.btn-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  &-checkbox {
    display: none;
    &:checked + .btn-mode-content {
      background-color: #111;
      font-size: 16px;
    }
    &:checked + .btn-mode-content .ball {
      transform: translateX(24px);
    }
    &:checked + .btn-mode-content .fa-sun {
      opacity: 0;
      font-size: 10px;
    }
    &:checked + .btn-mode-content .fa-moon {
      opacity: 1;
      font-size: 16px;
    }
  }
  &-content {
    cursor: pointer;
    position: relative;
    width: 50px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f5f5;
    border-radius: 10rem;
    padding: 5px;
    transition: all 0.25s;
    & .fa-moon {
      color: #f1c40f;
      opacity: 0;
      font-size: 10px;
      transition: all 0.25s;
    }
    & .fa-sun {
      color: #f39c12;
      opacity: 1;
      font-size: 16px;
      transition: all 0.25s;
    }
    & .ball {
      position: absolute;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: $color-primary;
      top: 2px;
      left: 2px;
      transition: all 0.25s;
    }
  }
}
